<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Artigo</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
        <div class="container">
            <a class="navbar-brand text-light" href="/admin">Voltar à tela de admin</a>
        </div>
    </nav>

    <div class="container mt-5">
        <h1>Formulário de Artigo</h1>

        <form action="/edita-artigo" method="post">
            <div class="form-group">
                <label for="kb_id"></label>
                <input type="hidden" id="kb_id" name="kb_id" value="<%= kb_id %>" class="form-control">
            </div>
            <div class="form-group">
                <label for="kb_title">Título:</label>
                <input type="text" id="kb_title" name="kb_title" value="<%= kb_title %>" class="form-control">
            </div>

            <div class="form-group">
                <label for="kb_body">Corpo do Artigo:</label>
                <textarea id="kb_body" name="kb_body" rows="10" class="form-control"><%- kb_body %></textarea>
            </div>

            <div class="form-group">
                <label for="kb_permalink">Permalink:</label>
                <input type="text" id="kb_permalink" name="kb_permalink" value="<%= kb_permalink %>" class="form-control">
            </div>

            <div class="form-group">
                <label for="kb_keywords">Palavras-chave:</label>
                <input type="text" id="kb_keywords" name="kb_keywords" value="<%= kb_keywords %>" class="form-control">
            </div>

            <div class="form-group">
                <input type="hidden" id="kb_liked_count" name="kb_liked_count" value="<%= kb_liked_count %>" class="form-control">
            </div>

            <div class="form-group">
                <input type="hidden" id="kb_published" name="kb_published" value="on" class="form-control">
            </div>

            <div class="form-group">
                <input type="hidden" id="kb_suggestion" name="kb_suggestion" value="on" class="form-control">
            </div>

            <div class="form-group">
                <input type="hidden" id="kb_featured" name="kb_featured" value="on" class="form-control">
            </div>

            <div class="form-group">
                <label for="kb_author_email">Email do Autor:</label>
                <input type="text" id="kb_author_email" name="kb_author_email" value="<%= kb_author_email %>" class="form-control">
            </div>
            
            <div class="form-group">
                <label for="kb_published_date">Data de Publicação:</label>
                <input type="text" id="kb_published_date" name="kb_published_date" value="<%= kb_published_date %>" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Enviar</button>
        </form>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
